/*Стили документа*/
html,
body {
    height: 100%;
    width: 100%;
}

/*Стили обертки основного контента*/
.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(173, 173, 173, 0.6);
}

/*Стили таблицы*/
#repo-table {
    height: 70%;
    width: 60%;
    min-width: 500px;
    background-color: #EDEEF0;
    box-shadow: 10px 10px 10px rgba(150, 148, 148, 0.5);
}

/*Переопределения стиля списка*/
.list-group {
    padding: 10px;
    min-width: 400px;
    flex-wrap: wrap;
    height: 70%;
    list-style: none;
    align-content: center;
    background-color: #EDEEF0;
    box-shadow: 10px 10px 10px rgba(150, 148, 148, 0.5);
}

/*Переопределение стиля элемента списка*/
.list-group-item {
    padding: 5px 10px;
    width: 220;
    display: flex;
    align-items: center;
}

/*Переопределение заголовка элемента списка*/
.list-group-item label {
    margin: 0 0 0 5px;
}

/**/
.modal-body {
    display: flex;
    justify-content: center;
}

